#zip-warning {
    background-image: url('../../../../../images/loader.gif');
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto;
    margin-left: -50px;
    float: left;
    width: 50%;
    height: 35px;
}
